<div class = container>

    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
      <li id ="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>
      <% @guests.each do |guest| %>
      <table class = "bordered">
         <tbody>
           <tr>
             <td><%= guest.name %>
               <a class='dropdown-button btn' data-activates='dropdown1'>Add!</a>
               <ul id='dropdown1' class='dropdown-content'>
                 <li>one</li>
                 <li>two</li>
               </ul>
             </td>
           </tr>
         </tbody>
       </table>
      <% end %>
    </ul>


<h1> Tables & Seatings</h1>

    <div class="row">

      <div class="col s4">
        <table class="highlight">
            <thead>
              <tr>
                  <th>Table 1</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Matt</td>
              </tr>
              <tr>
                <td>Ray</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col s4">
        Table 2
      </div>
      <div class="col s4">
        Table 3
      </div>

    </div>

  </div>
