@import url('https://fonts.googleapis.com/css?family=Spirax');

$font-title: 'Spirax', cursive;
$nav-bar: #427689;

header, main, footer {

     padding-left: 11%;
     padding-right: 6%;
   }
@media only screen and (max-width : 992px) {
     header, main, footer {
       padding-left: 0;
     }
   }

a.btn {
  background-color: #E8F7C0;
  color: black;
}
