@import url('https://fonts.googleapis.com/css?family=Spirax|Quicksand');

$font-title: 'Quicksand', bold;
$nav-bar: #926D99;
html{
   font-family: Quicksand;
}
header, main, footer {
     padding-left: 11%;
     padding-right: 6%;
   }
@media only screen and (max-width : 992px) {
     header, main, footer {
       padding-left: 0;
     }
   }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    width: 95%;
}
h1{
  text-align:center;
  font-weight: bold;
  font-size: 80px !important;
}
a.btn {
  background-color: #E8F7C0;
  color: black;
}
.toast{
  background-color: #FCCB73;
  color: black;
}

.btn:hover{
  background-color:#6BBAA7 !important;
}
.btn{
  background-color:#E8F7C0 !important;
  color: black;
}
.input-field .prefix.active{
  color: #6BBAA7;
}

input[type=email]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type=text]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type=password]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type=date]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type=time]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type=number]:not(.browser):focus:not([readonly]){
    border-bottom: 1px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
input[type="checkbox"]:checked + label:before{
    border-right: 2px solid #6BBAA7 ;
    border-bottom: 2px solid #6BBAA7 ;
    box-shadow: 0 1px 0 0 #6BBAA7 ;
}
//calendar
.picker__date-display{
  background-color: #6BBAA7;
}
.picker__close, .picker__today, .picker__day.picker__day--today{
  color: #6BBAA7;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #FCCB73;
}

.slides img{
  opacity: 0.6;
}

.slides .btn{
  background-color: #eb776a !important;
}
