
p {
  font-size: 20px;
}

nav{
  background-color: $nav-bar;
}
div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}

h1{
  font-size: 100px;
  font-weight: bold;
  font-family: $font-title;
  text-align: center;
}
.tablecontainer {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
#toast-container {
   top: 90px !important;
   right: auto !important;
   left: 70%;
   font-weight: bold;
  }
  //sign up page
  .passwordmin{
    position: absolute;
    top: -1px;
    left: 5%;
  }
// table page
#table-out {
  background-color: $nav-bar;
  width: 15%;
  color: white;
}
.addtable{
  border: 0px;
  font-size: 20px;
  text-align: center;
  width: 60px;
}
.removetable{
  background-color: #FCCB73 !important;
  border: 0px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
}
#addform{
  text-align: center;
  font-size: 18px;
  color: white;
  display: inline;
  height: 15px;
}
#listheader{
  background-color: $nav-bar;
}
.guesttable{
  padding-bottom: 0px;
}
.addingform{
  display: flex;
  justify-content: flex-start;
}
.hidden{
  display: none;
}

.tablesize{
  height: 400px;
}

//Home landing page
#homeOnePic{
  width: 100%
}
.promo img{
  font-size: 20rem;
  display: block;
  background-size: contain;
  max-width: 300px;
  border-radius: 25%;
  padding: 20px;
}
.rsvp_icons i{
  position: absolute;
  left: 20%;
}
//apllication NAV Bars
#slide-out li i {
  color: white;
}

#slide-out {
  background-color: $nav-bar;
  width: 12%;
  color: white;
  font-size: 18px;
}
#navOne {
  padding: 10px 35% 0 35%;
  margin: 40% 1%;
  height: 100px;
  width: 100%;
  background-color: $nav-bar;
  text-align: center;
  color: white;
}

//days left with responses
.sideprofile{
  font-size: 30px;
  text-align: center;
}
#days {
  font-size: 30px;
}
.advert{
  border: 5px solid white;
  border-style: dotted;
  padding: 10%;
  margin: 10%;
  height: 200px;
  widows: 100%;
  vertical-align:middle;
}
// guest list
.guestlistbtn {
  display: flex;
  justify-content: center;
}
.guestlistbtn .btn{
  margin: 30px;
}
#edit{
  padding: 0px;
  width: 45px;
}
.select-wrapper .select-dropdown.active{
  color: black;
}
// guest add

.guestadd .btn{
  margin: 30px;
}
.guestadd .submit{
  margin-left: 23%;
}
//email page
#message{
  height: 300px !important;
}

// progress bar
 .progressbar {
     counter-reset: step;
 }
 .progressbar li {
     list-style-type: none;
     width: 25%;
     float: left;
     font-size: 12px;
     position: relative;
     text-align: center;
     text-transform: uppercase;
     color: #7d7d7d;
 }
 .progressbar li:before {
     width: 40px;
     height: 40px;
     content: counter(step);
     counter-increment: step;
     line-height: 30px;
     border: 2px solid #7d7d7d;
     display: block;
     text-align: center;
     margin: 0 auto 10px auto;
     border-radius: 50%;
     background-color: white;
 }
 .progressbar li:after {
     width: 100%;
     height: 2px;
     content: '';
     position: absolute;
     background-color: #7d7d7d;
     top: 15px;
     left: -50%;
     z-index: -1;
 }
 .progressbar li:first-child:after {
     content: none;
 }
 .progressbar li.active {
     color: green;
 }
 .progressbar li.active:before {
     border-color: #55b776;
 }
 .progressbar li.active + li:after {
     background-color: #55b776;
 }
