header, main, footer {
     padding-left: 300px;
   }
@media only screen and (max-width : 992px) {
     header, main, footer {
       padding-left: 0;
     }
   }

h1 {
    font-style: italic;
    text-align: center;
}

p {
  font-size: 40px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    width: 85%;
}

div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.title{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:50%; /* position will be on bottom */
	width:100%;
	color:black;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
h1.title{
  font-size: 100px;
  font-weight: 500;
  font-family: cursive;
}

#homeOne{
  width: 100%;
}

#slide-out {
  width: 11%;
}

#navOne {
  padding: 25px 35%;
  margin: 60% 0px;
  height: 100px;
  width: 100%;
}

#navTwo {
  padding: 25px 35%;
  margin: 150% 0px;
  height: 100px;
  width: 100%;
}
